<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="register(userForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="User Name" formControlName="userName" id="userName">
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input matInput type="text" placeholder="First Name" formControlName="firstName" id="firstName">
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input matInput type="text" placeholder="Last Name" formControlName="lastName" id="lastName">
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input matInput type="text" placeholder="E-Mail" formControlName="email" id="email">
        </mat-form-field>

        <br/>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" id="password" type="password" name="password" required>
        </mat-form-field>

        <re-captcha (resolved)="resolved($event)" siteKey="6LekHPgZAAAAAF22P6SL0snnu1stiwZkYN-slvea"></re-captcha>

      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!userForm.valid || !recaptcha">Register</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </form>
  </mat-card>
</section>

