<h1>About Us</h1>

<pre>

This is an Angular application.

Demonstrates CRUD on Contacts, Contact Groups, and Users.

Demonstrates Angular Material Navigation, Tables, Sorting, Filtering, Dialogs.

Demonstrates Server Side Paging, Sorting and Search/Filter.

Demonstrates Master Detail handling.

Demonstrates Routing.

Demonstrates Security using SSO.

</pre>

<ul>
<li><a class="externallink" target="_blank" rel="nofollow" href="http://www.richardcampion.com/">Richard K. Campion</a></li>
<li><a class="externallink" target="_blank" rel="nofollow" href="https://twitter.com/zdslogic">ZdsLogic @ Twitter</a></li>
<li><a class="externallink" target="_blank" rel="nofollow" href="https://facebook.com/zdslogic">ZdsLogic @ Facebook</a></li>

</ul>
